.container.clear-nav
  =button_to "All Programs", admin_programs_path, method: :get, class: "right"
  =simple_form_for [:admin, @program] do |f|
    %ul.accordion-tabs
      %li.tab-header-and-content
        %a.is-active.tab-link{:href => "javascript:void(0)"}
          %h2 Summary
        .tab-content
          =f.input :name
          =f.input :category, collection: Program::CATEGORIES
          =f.input :description
      -#%li.tab-header-and-content
        -#%a.tab-link{:href => "javascript:void(0)"}
          -#%h2 Image
        -#.tab-content
          -#.half-column
            -#-if @program.image_1_id?
              -#.post-image{style: "background: url( #{ attachment_url @program, :image_1, :fill, 500, 300 } ), no-repeat center; background-size: cover"}
            -#-else
              -#.post-image{style: "background: url( 'http://placehold.it/500x300&text=No%20Image' ), no-repeat center; background-size: cover"}
          -#.half-column
            -#.inline-input
              -#-if @program.image_1_id?
                -##image_1_thumb.image_thumb{style: "background: url( #{ attachment_url @program, :image_1, :fill, 75, 75 } ), no-repeat center; background-size: cover"}
              -#-else
                -#.image_thumb
                  -#=fa_icon "upload"
              -#=f.attachment_field :image_1
    =f.submit "Save", class: "right"
  -if @program.persisted?
    =button_to "Delete", [:admin, @program], class: "btn-outline-green", method: :delete, data: { confirm: "Are you sure?" }
