.container.clear-nav
  .header
    %h1=resource_name.pluralize.upcase
    =button_to "New #{resource_name.capitalize}", button, class: "right", method: :get if button
    %hr.thick
  %table.list-table
    -resources.each do |resource|
      =render partial: "partials/list_item",
        locals: resource.to_local_list_item

  =paginate resources
