=content_for :hero do
  .hero.page-hero
    .overlay
    .text
      = page.content_a.html_safe
    .hero-slider
      .product-slider
        %a.prev{ href: "javascript:void(0)" }
          =fa_icon "chevron-left 2x"
        %a.next{ href: "javascript:void(0)" }
          =fa_icon "chevron-right 2x"
        %ul
          %li{style: "background: url( #{ attachment_url slide_image, :image, :fill, 800, 300 } ), no-repeat center; background-size: cover"}
