=render partial: "partials/hero", locals: { page: @page }
%table.list-table
  -@line_items.each do |line_item|
    =render partial: "partials/cart_list_item", locals: line_item.to_cart_list_item
.order-summary
  %ul.billing
    %li.bold Billing Information
    %li --
  %ul.shipping
    %li.bold Shipping Information
    %li --
  %table.totals
    %tr
      %td Sub Total
      %td.sub-total= cart_session.sub_total
    %tr
      %td Shipping
      %td --
    %tr
      %td Tax
      %td --
    %tr
      %td.bold Total
      %td.bold --

=button_to "Continue to checkout", new_order_path, method: :get, class: "right"
=button_to "Empty Cart", empty_cart_path, method: :delete, class: "left btn-outline-red"
