.accordion-tabs {

  @include clearfix;
  margin-bottom: 2em;

  .tab-header-and-content {
    list-style: none;

    @include media($large-screen) {
      display: inline;
    }
  }

  .tab-link {
    display: block;
    padding: 1em;

    @include media($large-screen) {
      display: inline-block;
      padding: 2em;
    }
  }

  .is-active {
    background: lighten($light-gray, 10);
  }

  .tab-content {
    display: none;
    width: 100%;
    padding: 1em;
    background: lighten($light-gray, 10);

    @include media($large-screen) {
      float: left;
      padding: 2em;
    }
  }
}

.accordion-buttons {
  @include span-columns(3);
  float: right;
}
