div.shipping-option {
  @include span-columns(4);

  &:nth-child(3n) {
    @include omega();
  }

  button {
    width: 100%;
  }
}

.manage-order {
  ul li {
    margin-bottom: 1em;

    input {
      margin-bottom: 0;
    }
  }
}
