.half-column .product-list .product-card {
  @include span-columns(6);
  @include shift(3);
}

div.product_weight, div.product_length, div.product_height, div.product_width {
  @include span-columns(6);
  &:nth-child(even) {
    @include omega();
  }
}


.product-card-column {

  @include media($medium-screen) {
    @include span-columns(3);
  }
}
.product-table-column {

  .image_thumb {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: $red;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    float: left;
    color: white;
  }

  label, input {
    display: inline-block;
    width: auto;
  }

  @include media($medium-screen) {
    @include span-columns(9);
    @include omega();
  }
}
