.header {
  @include media($medium-screen) {
    @include display(flex);
    @include align-items(baseline);
    @include justify-content(space-between);
  }

  .header-label {
    h1, h2, h3, h4, h5 {
      text-align: center;
    }
  }

  .header-action {
    @include omega();

    input {
      float: none;
      display: block;

      @include media($medium-screen) {
        float: right;
      }
    }
  }
}

hr {
  clear: both
}

div.page-content {
  @include clearfix();
  margin-top: 2em;

  & > div:nth-child(even) {
    @include omega();
  }

  .content-block {
    min-height: 200px;
    overflow: hidden;

    @include media($medium-screen) {
      @include span-columns(6);
    }
    .product-slider {
      height: 300px;
    }

    li {
      min-height: 300px;
    }
  }
}

.half-column {

  @include media($medium-screen) {
    @include span-columns(6);
  }
}

.center-form {

  @include media($medium-screen) {
    @include span-columns(6);
    @include shift(3);
  }
}


#slides {
  display:none
}
