.product-list {
  @include clearfix();
  padding: 2em 0;

  & > li {
    @include media($medium-screen) {
      @include span-columns(6);
    }
    @include media($large-screen) {
      @include span-columns(3);
    }
  }

  & > li:nth-child(even) {

    @include media($medium-screen) {

      @include omega();
    }
    @include media($large-screen) {

      margin-right: 2.35765%;
    }
  }

  & > li:nth-child(4n) {

    @include media($medium-screen) {

      @include omega();
    }
    @include media($large-screen) {

      @include omega();
    }
  }

  .product-card {
    background: $light-gray;
    border-radius: $base-border-radius;
    overflow: hidden;
    max-width: 250px;
    margin: 0 auto 1em;

    div.product-content {
      position: relative;
      padding: 1em;
      min-height: 120px;

      a {
        color: $blue;

        &:hover {
          color: darken($blue, 10);
        }
      }

      div.product-price {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        position: absolute;
        top: -40px;
        right: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $light-gray;
        background: $blue;
        color: white;

        div {
        }


        &:nth-child(2n) {
          @include omega();
        }
      }
    }
  }
}

.product-slider {
  min-height: 200px;
  position: relative;

  .next, .prev {
    position: absolute;
    width: 20%;
    top: 0;
    bottom: 0;
    z-index: 10;
    @include align-items(center);
    @include justify-content(center);
  }
  .next {
    left: null;
    right: 0
  }
  .prev {
    left: 0;
    right: null;
  }

  ul {
    min-height: 250px;
    position: relative;

    li {
      min-height: 200px;
      display: inline-block;
      float: left;
    }
  }
}

a.display-flex {
  @include display(flex);
}
a.display-none {
  display: none;
}
