
.hotshots-shirt {
  margin-top: 1em;
  height: 150px;
  width: 100%;
  background: url("registered-players.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 385px;
}
