%footer.footer{:role => "contentinfo"}
  .footer-logo
  .footer-links
    %ul
      %li
        = simple_format footer.content_a
    %ul
      %li
        = simple_format footer.content_b
    %ul
      %li
        = simple_format footer.content_c
